<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\hayri.PIXELSOFTOFFICE\Desktop\Hayri\35.HH\AudioDB.mdf;Integrated Security=True;Connect Timeout=30" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=#DBPath#AudioDB.mdf;Integrated Security=True;Connect Timeout=30"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=#DBPath#AudioDB.mdf;Integrated Security=True;Connect Timeout=30"/>-->
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hayri\Desktop\Hayri\NET\35HH\AudioDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>